.table-results {
    width: 100%;
    border-collapse: collapse;
    margin-left: 1em;

    th, td {
        padding: 0.5em;
        text-align: left;
    }

    tr {
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: #f1f1f1;
    }
}

.outcome-list {
    margin-left: 1em;
}

#readme {
    p {
        margin-top: 0.5em;
    }

    ul {
        margin: 0.5em 1.5em;
    }
}