{% extends 'base.html' %}

{% block title %}SWE-bench Leaderboard{% endblock %}

{% block head_extra %}
    <link rel="icon" href="favicon.ico" type="image/x-icon">
{% endblock %}

{% block js_files %}
    <script src="js/tableByYear.js"></script>
    <script src="js/tableByRepo.js"></script>
{% endblock %}

{% block content %}
    <header class="page-header">
        <div class="container">
            <div class="header-logo-container">
                <img src="img/swe-bench-banner.svg" alt="SWE-bench Logo" class="header-logo">
            </div>
        </div>
    </header>

    <section class="container">

        <a href="https://swesmith.com/">
            <div class="announcement-container">
                <p><img src="img/swe-smith-icon.svg" alt="SWE-smith icon" class="sidebar-family-icon"> Our new paper SWE-smith is out! Train your own models for software engineering agents. </p>
            </div>
        </a>

        <div class="content-section" id="leaderboard">
            <div class="leaderboard-tabs">
                <div class="leaderboard-tab-list">
                    <button class="tablinks" data-leaderboard="Lite">Lite</button>
                    <button class="tablinks" data-leaderboard="Verified">Verified</button>
                    <button class="tablinks" data-leaderboard="Test">Full</button>
                    <button class="tablinks" data-leaderboard="Multimodal">Multimodal</button>
                </div>
            </div>

            {% include "_leaderboard_table.html" %}
            
            <div class="view-details-button" style="text-align: center; margin-top: 20px;">
                <a href="viewer.html" class="btn btn-primary">Analyze Results in Detail</a>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="content-section" id="news">
            <h2 class="content-section-title">News</h2>
            <ul>
                <li>[05/2025] <img src="img/swe-smith-icon.svg" alt="SWE-smith icon" class="sidebar-family-icon">Our new paper SWE-smith is out! Train your own models for software engineering agents. [<a href="https://swesmith.com">Link</a>]</li>
                <li>[03/2025] <img src="img/swe-agent-icon.svg" alt="SWE-agent icon" class="sidebar-family-icon">SWE-agent 1.0 is the open source SOTA on SWE-bench Lite! [<a href="https://github.com/SWE-agent/SWE-agent">Link</a>]</li>
                <li>[10/2024] Introducing <b>SWE-bench Multimodal</b>! [<a href="multimodal.html">Link</a>]</li>
                <li>[08/2024] SWE-bench x OpenAI = <b>SWE-bench Verified</b> [<a href="https://openai.com/index/introducing-swe-bench-verified/">Report</a>]</li>
                <li>[06/2024] <b>Docker</b>-ized SWE-bench for easier evaluation [<a href="https://www.swebench.com/SWE-bench/guides/docker_setup/">Report</a>]</li>
                <li>[03/2024] Check out <b>SWE-agent</b> (12.47% on SWE-bench) [<a href="https://github.com/SWE-agent/SWE-agent">Link</a>]</li>
                <li>[03/2024] Released <b>SWE-bench Lite</b> [<a href="lite.html">Report</a>]</li>
            </ul>
        </div>
    </section>

    <section class="container">
        <div class="content-section" id="about">
            <h2 class="content-section-title">Acknowledgements</h2>
            <p>
                We thank the following institutions for their generous support:
                Open Philanthropy, AWS, Modal, Andreessen Horowitz, OpenAI, and Anthropic.
            </p>
        </div>
    </section>
{% endblock %}

{% block scripts_extra %}
{% endblock %}
