{% extends 'base.html' %}

{% block title %}SWE-bench Leaderboard{% endblock %}

{% block head_extra %}
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <style>
        .tabcontent .table-responsive {
            max-height: 60vh;
            overflow-y: auto;
        }
        
        @media (max-height: 700px) {
            .tabcontent .table-responsive {
                max-height: 50vh;
            }
        }
    </style>
{% endblock %}

{% block js_files %}
    <script src="js/tableByYear.js"></script>
    <script src="js/tableByRepo.js"></script>
{% endblock %}

{% block content %}
    <header class="page-header">
        <div class="container">
            <div class="header-logo-container">
                <img src="img/swe-bench-banner.svg" alt="SWE-bench Logo" class="header-logo">
                <div class="flex justify-center gap-2">
                    <a href="https://arxiv.org/abs/2310.06770" target="_blank" class="paper-link">Paper</a>
                    <a href="submit.html" class="paper-link">Submit</a>
                    <a href="https://github.com/SWE-bench" target="_blank" class="paper-link">GitHub</a>
                    <a href="https://huggingface.co/collections/princeton-nlp/swe-bench-67033b68e0b99b458ef6ffc5" target="_blank" class="paper-link">🤗 Datasets</a>
                </div>
            </div>
        </div>
    </header>

    <section class="container">
        <div class="content-section" id="leaderboard">
            <h2>All Leaderboards</h2>
            <div class="leaderboard-tabs">
                <div class="leaderboard-tab-list">
                    <button class="tablinks" data-leaderboard="Lite">Lite</button>
                    <button class="tablinks" data-leaderboard="Verified">Verified</button>
                    <button class="tablinks" data-leaderboard="Test">Full</button>
                    <button class="tablinks" data-leaderboard="Multimodal">Multimodal</button>
                </div>
            </div>

            {% include "_leaderboard_table.html" %}
            
            <div class="view-details-button" style="text-align: center; margin-top: 20px;">
                <a href="viewer.html" class="btn btn-primary">Analyze Results in Detail</a>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="content-section" id="news">
            <h2 class="content-section-title">News</h2>
            <ul>
                <li>[10/2024] Introducing <b>SWE-bench Multimodal</b>! [<a href="multimodal.html">Link</a>]</li>
                <li>[08/2024] SWE-bench x OpenAI = <b>SWE-bench Verified</b> [<a href="https://openai.com/index/introducing-swe-bench-verified/">Report</a>]</li>
                <li>[06/2024] <b>Docker</b>-ized SWE-bench for easier evaluation [<a href="https://www.swebench.com/SWE-bench/guides/docker_setup/">Report</a>]</li>
                <li>[03/2024] Check out <b>SWE-agent</b> (12.47% on SWE-bench) [<a href="https://github.com/princeton-nlp/SWE-agent">Link</a>]</li>
                <li>[03/2024] Released <b>SWE-bench Lite</b> [<a href="lite.html">Report</a>]</li>
            </ul>
        </div>
    </section>

    <section class="container">
        <div class="content-section" id="resources">
            <h2 class="content-section-title">Resources</h2>
            <p>Base and pre-processed datasets (Oracle, 13K, 27K, 40K, 50K Llama) are available on HuggingFace.</p>
            <div class="resource-links">
                <a href="https://huggingface.co/datasets/princeton-nlp/SWE-bench">🤗 SWE-bench</a>
                <a href="https://huggingface.co/datasets/princeton-nlp/SWE-bench_oracle">🤗 "Oracle" Retrieval</a>
                <a href="https://huggingface.co/datasets/princeton-nlp/SWE-bench_bm25_13K">🤗 BM25 Retrieval 13K</a>
                <a href="https://huggingface.co/datasets/princeton-nlp/SWE-bench_bm25_27K">🤗 BM25 Retrieval 27K</a>
                <a href="https://huggingface.co/datasets/princeton-nlp/SWE-bench_bm25_40K">🤗 BM25 Retrieval 40K</a>
                <a href="https://huggingface.co/datasets/princeton-nlp/SWE-bench_bm25_50k_llama">🤗 BM25 Retrieval 50K (Llama)</a>
            </div>
            <p>SWE-bench Lite:</p>
            <div class="resource-links">
                <a href="https://huggingface.co/datasets/princeton-nlp/SWE-bench_Lite">🤗 SWE-bench Lite</a>
                <a href="https://huggingface.co/datasets/princeton-nlp/SWE-bench_Lite_oracle">🤗 "Oracle" Retrieval Lite</a>
                <a href="https://huggingface.co/datasets/princeton-nlp/SWE-bench_Lite_bm25_13K">🤗 BM25 Retrieval 13K Lite</a>
                <a href="https://huggingface.co/datasets/princeton-nlp/SWE-bench_Lite_bm25_27K">🤗 BM25 Retrieval 27K Lite</a>
            </div>
            <p>SWE-bench Verified:</p>
            <div class="resource-links">
                <a href="https://huggingface.co/datasets/princeton-nlp/SWE-bench_Verified">🤗 SWE-bench Verified</a>
            </div>
            <p>SWE-bench Multimodal:</p>
            <div class="resource-links">
                <a href="https://huggingface.co/datasets/princeton-nlp/SWE-bench_Multimodal">🤗 SWE-bench Multimodal</a>
            </div>
            <p>SWE-Llama model weights:</p>
            <div class="resource-links">
                <a href="https://huggingface.co/princeton-nlp/SWE-Llama-13b">SWE-Llama 13b</a>
                <a href="https://huggingface.co/princeton-nlp/SWE-Llama-13b-peft">SWE-Llama 13b (PEFT)</a>
                <a href="https://huggingface.co/princeton-nlp/SWE-Llama-7b">SWE-Llama 7b</a>
                <a href="https://huggingface.co/princeton-nlp/SWE-Llama-7b-peft">SWE-Llama 7b (PEFT)</a>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="content-section" id="about">
            <h2 class="content-section-title">About</h2>
            <img src="img/teaser.png" alt="SWE-bench Teaser Image" class="img-fluid"/>
            <p>SWE-bench tests systems' ability to solve GitHub issues automatically, using 2,294 Issue-Pull Request pairs from 12 popular Python repositories. Evaluation is by unit test verification.</p>

            <h3 id="citation">Citation</h3>
            <div class="citation-type">
                <button class="citation-format-btn active" data-format="bibtex" data-target="original-citation">BibTeX</button>
                <button class="citation-format-btn" data-format="apa" data-target="original-citation">APA</button>
                <button class="citation-format-btn" data-format="mla" data-target="original-citation">MLA</button>
            </div>
            <div class="citation-container" id="original-citation-bibtex">
                <button class="copy-btn">Copy</button>
                <pre>@inproceedings{
    jimenez2024swebench,
    title={{"{"}}{{"{"}}SWE{{"}"}}-bench: Can Language Models Resolve Real-world Github Issues?},
    author={Carlos E Jimenez and John Yang and Alexander Wettig and Shunyu Yao and Kexin Pei and Ofir Press and Karthik R Narasimhan},
    booktitle={The Twelfth International Conference on Learning Representations},
    year={2024},
    url={https://openreview.net/forum?id=VTF8yNQM66}
}</pre>
            </div>
            
            <div class="citation-container display-none" id="original-citation-apa">
                <button class="copy-btn">Copy</button>
                <pre>Jimenez, C. E., Yang, J., Wettig, A., Yao, S., Pei, K., Press, O., & Narasimhan, K. R. (2024). SWE-bench: Can Language Models Resolve Real-world Github Issues? In The Twelfth International Conference on Learning Representations. https://openreview.net/forum?id=VTF8yNQM66</pre>
            </div>
            
            <div class="citation-container display-none" id="original-citation-mla">
                <button class="copy-btn">Copy</button>
                <pre>Jimenez, Carlos E., et al. "SWE-bench: Can Language Models Resolve Real-world Github Issues?" The Twelfth International Conference on Learning Representations, 2024.</pre>
            </div>
            <p><b>Disclaimer:</b> SWE-bench is for research purposes only.</p>
            <p><b>Usage:</b> If you would like to use this website template for your own leaderboard, please send Carlos & John an email requesting permission. If granted, please make sure to acknowledge the SWE-bench team and link to this leaderboard on the home page of the website.</p>

            <p>For general inquiries about SWE-bench, please email: <a href="mailto:carlosej@princeton.edu,johnby@stanford.edu">{carlosej@princeton.edu, johnby@stanford.edu}</a></p>


            <div class="institution-logos">
                <div class="logo-container">
                    <a href="https://www.princeton.edu/" target="_blank" title="Princeton University">
                        <img src="img/princeton_seal.svg" alt="Princeton University" class="institution-logo" style="box-shadow: none; filter: none;">
                    </a>
                    <a href="https://www.stanford.edu/" target="_blank" title="Stanford University">
                        <img src="img/stanford_seal.png" alt="Stanford University" class="institution-logo" style="box-shadow: none; filter: none;">
                    </a>
                    <a href="https://pli.princeton.edu/" target="_blank" title="Princeton Language and Intelligence">
                        <img src="img/pli_logo.svg" alt="Princeton Language and Intelligence" class="institution-logo" style="box-shadow: none; filter: none;">
                    </a>
                    <a href="https://www.uchicago.edu/" target="_blank" title="University of Chicago">
                        <img src="img/chicago_seal.svg" alt="University of Chicago" class="institution-logo" style="box-shadow: none; filter: none;">
                    </a>
                </div>
            </div>

            <h3 id="acknowledgements">Acknowledgements</h3>
            <p>We thank the following institutions for their generous support:</p>
            <ul>
                <li>OpenPhil</li>
                <li>AWS</li>
                <li>Modal</li>
                <li>Andreessen Horowitz</li>
                <li>OpenAI</li>
                <li>Anthropic</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block scripts_extra %}
{% endblock %}