{% extends 'base.html' %}

{% block title %}Submit to Nocode-bench{% endblock %}

{% block head_extra %}
<!-- <link rel="icon" href="favicon.ico" type="image/x-icon"> -->
{% endblock %}

{% block content %}
<header class="page-header">
    <div class="container">
        <h1>Submit to Nocode-bench</h1>
        <p>Guidelines for contributing your model's results to the Nocode-bench leaderboard.</p>
    </div>
</header>

<div class="container">
    <div class="announcement-container">
        All official submissions to the Nocode-bench leaderboard are maintained at&nbsp;
        <a href="" class="light-blue-link" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-github"></i> SWE-bench/experiments
        </a>
    </div>

    <section class="content-box">
        <h3>
            Evaluating on Nocode-bench
        </h3>
        <p>
            Check out the main <a href="">Nocode-bench</a> repository docs for
            instructions on how to generate and evaluate predictions on Nocode-bench [Verified].
        </p>
    </section>

    <section class="content-box">
        <h3>
            Submit to Leaderboard
        </h3>
        <p>
            If you are interested in submitting your system or model to any of our leaderboards
            (Nocode-bench [Verified]), please follow the instructions posted at
            <a href="" class="light-blue-link" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-github"></i> SWE-bench/experiments</a>.
        </p>
    </section>
</div>
{% endblock %}