{% extends 'base.html' %}

{% block title %}Submit to SWE-bench{% endblock %}

{% block head_extra %}
    <link rel="icon" href="favicon.ico" type="image/x-icon">
{% endblock %}

{% block content %}
    <header class="page-header">
        <div class="container">
            <h1>Submit to SWE-bench</h1>
            <p>Guidelines for contributing your model's results to the SWE-bench leaderboard.</p>
        </div>
    </header>

    <div class="container">
        <div class="announcement-container">
            All official submissions to the SWE-bench leaderboard are maintained at&nbsp;
            <a href="https://github.com/swe-bench/experiments/" class="light-blue-link" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-github"></i> SWE-bench/experiments
            </a>
        </div>

        <section class="content-box">
            <h3>
                Evaluating on SWE-bench
            </h3>
            <p>
                Check out the main <a href="https://swebench.com/SWE-bench/">SWE-bench</a> repository docs for instructions on how to generate and evaluate predictions on SWE-bench [Lite, Verified, Multimodal].
            </p>
            <p>
                SWE-bench evaluation can be carried out either locally or via cloud compute platforms with our
                <a href="https://github.com/swe-bench/sb-cli/">sb-cli</a> tool (Recommended) or
                <a href="https://www.swebench.com/SWE-bench/guides/evaluation/#cloud-based-evaluation">Modal</a>.
            </p>
            <p>
                For SWE-bench Multimodal, SWE-bench evaluation can only be carried out via
                <a href="https://github.com/swe-bench/sb-cli/">sb-cli</a>.
            </p>
        </section>

        <section class="content-box">
            <h3>
                Submit to Leaderboard
            </h3>
            <p>
                If you are interested in submitting your system or model to any of our leaderboards
                (SWE-bench [Lite, Verified, Multimodal, Multilingual]), please follow the instructions posted at
                <a href="https://github.com/swe-bench/experiments/" class="light-blue-link" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-github"></i> SWE-bench/experiments</a>.
            </p>
        </section>
    </div>
{% endblock %}
