<div class="sidebar-overlay"></div>
<header class="mobile-header">
    <!-- <a href="/" class="mobile-logo"><img src="img/swe-llama.svg" alt="Nocode-bench logo"
            class="sidebar-logo-icon">Nocode-bench</a> -->
    <a href="/" class="mobile-logo">Nocode-bench</a>
    <button class="sidebar-opener" aria-label="Open menu">
        <i class="fas fa-bars"></i>
    </button>
</header>

<aside class="sidebar">
    <div class="sidebar-header">
        <!-- <a href="/" class="sidebar-logo"><img src="img/swe-llama.svg" alt="Nocode-bench logo"
                class="sidebar-logo-icon">Nocode-bench</a> -->
        <a href="/" class="sidebar-logo">Nocode-bench</a>
        <button class="mobile-nav-toggle" aria-label="Close menu">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <nav class="sidebar-nav">
        <ul>
            <li><a href="index.html" class="nav-link" data-page="index">Leaderboards</a></li>

            <li class="nav-section-title">Benchmarks</li>
            <li><a href="original.html" class="nav-link" data-page="original">Nocode-bench</a></li>
            <li><a href="verified.html" class="nav-link" data-page="verified">Nocode-bench Verified</a></li>

            <li class="nav-section-title">About</li>
            <li><a href="" class="nav-link" data-page="paper">Paper <i class="fas fa-external-link-alt"></i></a></li>
            <li><a href="contact.html" class="nav-link" data-page="contact">Contact</a></li>
            <li><a href="citations.html" class="nav-link" data-page="citations">Citations</a></li>
            <li><a href="press.html" class="nav-link" data-page="press">Press</a></li>
            <li><a href="submit.html" class="nav-link" data-page="submit">Submit</a></li>
        </ul>
    </nav>
    <div class="sidebar-footer">
        <a href="" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-github"></i>
        </a>
        &nbsp;
        <a href="" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-youtube"></i>
        </a>
        &nbsp;
        <a href="" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-slack"></i>
        </a>
        <button id="theme-toggle" class="theme-toggle" aria-label="Toggle dark mode">
            <i class="fas fa-moon"></i>
        </button>
    </div>
</aside>